---
layout: remote
---
<div class="form-background">
<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;width:75%;margin-left:auto;margin-right:auto;margin-top:50px;padding-top:25px}
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
			<div id="mc_embed_signup">
				<form action="//blockchaincanada.us13.list-manage.com/subscribe/post?u=0172d72e9cf17d0798353d3c9&amp;id=9b85a316ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    		<div id="mc_embed_signup_scroll">
						<h2>Get involved with Blockchain Canada:</h2>
						<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
						<div class="mc-field-group">
							<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
						</div>
						<div class="mc-field-group">
							<label for="mce-FNAME">First Name  <span class="asterisk">*</span></label>
							<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
						</div>
						<div class="mc-field-group">
							<label for="mce-LNAME">Last Name <span class="asterisk">*</span></label>
							<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
						</div>
						<div class="mc-field-group">
							<label for="mce-MMERGE5">Organization </label>
							<input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
						</div>
						<div class="mc-field-group">
							<label for="mce-MMERGE3">Comments </label>
							<input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
						</div>
						<div class="mc-field-group input-group">
	    				<strong>Would you like to get involved?  <span class="asterisk">*</span></strong>
	    				<ul>
									<li><input type="radio" value="Yes" name="MMERGE4" id="mce-MMERGE4-0"><label for="mce-MMERGE4-0">Yes</label></li>
									<li><input type="radio" value="No" name="MMERGE4" id="mce-MMERGE4-1"><label for="mce-MMERGE4-1">No</label></li>
							</ul>
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0172d72e9cf17d0798353d3c9_9b85a316ce" tabindex="-1" value=""></div>
	    			<div class="clear"><input type="submit" value="Join Us!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	    		</div>
				</form>
			</div>
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
	<!--End mc_embed_signup-->
</div>
