---
layout: default
---

<!-- Start Hero -->

        <div class="hero">
            <div class="hero-content">
                <div class="container">
                    <div class="hero-content-inner">
                        <h1>{{ site.hero.hero_title }}</h1>
                        <p>{{ site.hero.hero_description }}</p>
                        <div class="hero-btn-container">
                            <a href="get-involved"><button class="hero-btn">Get Involved!</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- End Hero -->


<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">Vision &amp; Mission</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Keep Canada at the forefront of emerging blockchain and decentralized technologies.</h3>
                <p>Blockchain Canada was founded on the premise that blockchains have the potential to transform many aspects of Canada’s financial, social, and governance systems in ways that make them more decentralized, open, and equitable. Such transformations, however, will affect all Canadians and its important to ensure that all classes of stakeholders (private, public regulatory, academic, and more) are connected in open conversations about how use this science to benefit Canadians and build Canada as leader in blockchain technology.</p>

                <h3>Connect Canadian blockchain conversations, research, and development</h3>
                <p>Conversations about blockchains and their role in Canada are happening, but they often occur in silos and disconnected communities. Let’s connect those communities by addressing some underlying questions: Who is doing innovative work on blockchain tech in Canada? What are the business, social and political ramifications of blockchain applications? Which academic institutions are doing research on blockchain and decentralized technologies? Where is that research published? What are the relevant government regulations about cryptocurrencies? How is our government balancing regulations with innovation? Where does one go to learn more about blockchains and how it affects Canadians? And what assistance (financial, intellectual, business, and otherwise) is available to help build blockchain-based startups? As this not-for-profit grows and brings more partners to the table those questions and issues will be addressed. Join us to help share information and make Canada a great blockchain ecosystem.</p>




                <!-- <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-group"><use xlink:href="#icon-group"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                    </div>
                </div> -->

                <!-- <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                    </div>
                </div> -->
            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="..." id="aboutimage">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<div id="survey" class="about">
    <div class="container-fluid">

<div class="media survey">
    <div class="media-left">
        <div class="boxed-icon">
            <h3><i class="fa fa-comments"></i></h3>
        </div>
    </div>
    <div class="media-body">
        <h5>Please contribute to the Blockchain Canada Ecosystem <a href="https://docs.google.com/forms/d/e/1FAIpQLSfy0BQmbNZwlwFwdItI_jSFGrvp2SlwtBcSRKPi3yqVWZ6bbA/viewform">survey</a> to include your Canadian Blockchain project, product or service.</h5>
    </div>
</div>
</div>
</div>

<!-- Start events -->
<div id="events" class="events">
    <div class="container-fluid">
        <h2 class="section-title">Events</h2>

        <div class="row">
            {% for event in site.data.events %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <h3><i class="fa fa-calendar"></i></h3>
                        <h3>{{ event.title }}</h3>
                        <br>
                        <h4>{{ event.date}}, {{event.time}}</h4>
                        <h4>{{ event.location }}</h4>
                        <br>
                        <p>{{ event.description }}</p>
                        <br>
                        <br>
                            {% if event.registerlink %}
                                <a href={{event.registerlink}} target="_blank">{{ event.reglinkdesc }}</a>
                            {% else %}
                                <p>Registration coming soon!</p>
                            {% endif %}
                            <br>
                            {% if event.extralink %}
                                <a href={{event.extralink}} target="_blank">{{event.extralinkdesc}}</a>
                            {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- end of events -->



<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <div class="boxed-icon">
                            <h3><i class="fa fa-quote-left"></i></h3>
                        </div>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start Our team -->
<!-- <div id="team" class="team">
    <h2 class="section-title">Our Team</h2>
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
            </div>
            <div class="expandable-box-bottom">
                <a href="mailto:{{ member.email }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.email }}"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg></a>
            </div>
        </div>
    {% endfor %}
    </div>
</div> -->
<!-- End Our team -->


<!-- Start Form -->
<!-- <div id="resources" class="resources">
    <div class="container-fluid">
        <h2 class="section-title">Join us!</h2>

        <div class="col-sm-6  form">
            <form action="//blockchaincanada.us13.list-manage.com/subscribe/post?u=0f9525c1af16fc37247eda49a&amp;id=df98f28faa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-field">
                        <input name="FNAME" type="text" placeholder="Name" required>
                    </div>
                    <div class="form-field">
                        <input name="EMAIL" type="text" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                    	<label for="mce-MMERGE3">Are you interested in volunteering with us? </label>
                        	<select name="MMERGE3" class="form-control" id="mce-MMERGE3">
                            	<option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                    </div>
                    <div id="mce-responses" class="clear">
                		<div class="response" id="mce-error-response" style="display:none"></div>
                		<div class="response" id="mce-success-response" style="display:none"></div>
                	</div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0f9525c1af16fc37247eda49a_df98f28faa" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
</div> -->


<!-- End Form -->

<!-- Begin MailChimp Signup Form -->

<!--End mc_embed_signup-->

<!-- Start Partners -->
<div id="partners" class="partners">
    <div class="container-fluid">
        <h2 class="section-title">Partners &amp; Community Members</h2>
        <div id="partnerbox">
            <div class="row">
                {% for partner in site.data.partners %}
                    <div class="col-sm-6 col-md-4">
                        <div class="icon-box">
                            <a href={{partner.link}} target="_blank">
                                <img src="{{ site.baseurl }}/img/{{ partner.image }}" alt="{{ partner.name }}">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Partners -->

<!-- Start Map -->
<!-- <div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}" data-address-details="<img src='{{ site.map.address_details }}'>"></div> -->
<!-- End Map -->
