---
layout: remote
---

<div class="hero hero-projects" style="background: url('/img/projects.jpg') no-repeat center center fixed;-webkit-background-size: cover;position:static;">
    <div class="projects">
        <div class="container-fluid">
            <h1 class="section-title projects-title">State of Blockchain Canada 2016</h1>

            <div class="row buttons">
                <div class="col-sm-4">
                    <div class="project-btn-container">
                        <a href="http://blockchaincanada.org/files/StateofBlockchain-Objectives.pdf" target="_blank"><button class="project-btn">Objectives</button></a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="project-btn-container">
                        <a href="http://blockchaincanada.herokuapp.com/" target="_blank"><button class="project-btn">Slack Channel</button></a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="project-btn-container">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfy0BQmbNZwlwFwdItI_jSFGrvp2SlwtBcSRKPi3yqVWZ6bbA/viewform" target="_blank"><button class="project-btn">Survey</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
