---
layout: remote
---

<div id="events" class="events">
    <div class="container-fluid">
        <h2 class="section-title remote-title">Research &amp; Resources</h2>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="resource-icon-box">
                    <h3><i class="fa fa-briefcase"></i></h3>
                    <a href="http://www.parl.gc.ca/Content/SEN/Committee/412/banc/rms/12jun15/home-e.htm" target="_blank"><h3>Digital Currency: You Can’t Flip This Coin!</h3></a>
                    <h5>The Standing Senate Committee on Banking, Trade and Commerce. June 2015.</h5>
                    <br>
                    <blockquote>
                        <h6>The Senate Banking Committee launched its study on digital currencies in March 2014. While the focus of the Committee’s study was “digital currencies” in general, many witnesses spoke specifically about cryptocurrencies, which are digital currencies that rely on encryption. Bitcoin was the cryptocurrency most often discussed by witnesses.</h6>
                    </blockquote>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="resource-icon-box">
                    <h3><i class="fa fa-briefcase"></i></h3>
                    <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/492972/gs-16-1-distributed-ledger-technology.pdf" target="_blank"><h3>Distributed Ledger Technology: beyond block chain.</h3></a>
                    <h5>A report by the UK Government Chief Scientific Adviser. January 2016.</h5>
                    <a href="https://www.youtube.com/watch?v=4sm5LNqL5j0"><h5>Video</h5></a>
                    <br>
                    <blockquote>
                        <h6>"In distributed ledger technology, we may be witnessing one of those potential explosions of creative potential that catalyse exceptional levels of innovation.</h6>
                    </blockquote>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="resource-icon-box">
                    <h3><i class="fa fa-briefcase"></i></h3>
                    <a href="http://www3.weforum.org/docs/WEF_GAC15_Technological_Tipping_Points_report_2015.pdf" target="_blank"><h3>Deep Shift - Technology Tipping Points and Societal Impact.</h3></a>
                    <h5>World Economic Forum Survey Report. September 2015.</h5>
                    <br>
                    <blockquote>
                        <h6>"The blockchain creates both opportunities and challenges for countries. On the one hand, it is unregulated and not overseen by any central bank, meaning less control over monetary policy. On the other hand, it creates the ability for new taxing mechanisms to be built into the blockchain itself (e.g. a small transaction tax)."</h6>
                    </blockquote>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="resource-icon-box">
                    <h3><i class="fa fa-briefcase"></i></h3>
                    <a href="http://www.bankofcanada.ca/wp-content/uploads/2016/06/remarks-170616.pdf" target="_blank"><h3>Fintech and the Financial Ecosystem - Evolution or Revolution?</h3></a>
                    <h5>Speech given June 2016 by Carolyn Wilkins, Senior Deputy Governor, Bank of Canada</h5>
                    <br>
                    <blockquote>
                        <h6>"It is no exaggeration to say that we are in the midst of a defining moment for
innovation in financial services. Some expect that new technology will cause a
complete disruption of traditional financial institutions, giving businesses and
households access to more convenient and customized services."</h6>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
