---
layout: remote
---

<div id="events" class="events">
    <div class="container-fluid">
        <h2 class="section-title remote-title">Meet Blockchain Canada</h2>

        <div class="row">
            {% for team in site.data.team %}
                <div class="col-sm-6 col-md-4">
                        <div class="icon-box">
                                    <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                                    <a href="mailto:{{team.email}}"><h3>{{team.name}}</h3></a>
                                    <img src="/img/{{team.image}}" alt="{{team.name}}">
                                    <br>
                                    <br>
                                    <p>{{team.description}}</p>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
