<!-- Start Footer -->
<footer class="main-footer">
        <div class="col-sm-3">
            <h3>Contact</h3>
            <a href=mailto:{{ site.contact.email }}<i class="fa fa-envelope"/></i>
            Email</a>
        </div>
        <div class="col-sm-3">
            <h3>Follow</h3>
            <span>{% if site.twitter %}<a href="{{ site.twitter }}"><h4><i class="fa fa-twitter"></i></h4></a>{% endif %}</span>
                <span>{% if site.slack %}<a href="{{ site.slack }}"><h4><i class="fa fa-slack"></i></h4></a>{% endif %}</span>
        </div>
        <div class="col-sm-3">
            <h3>Team</h3>
            <a href="team" class="remotepage"><i class="fa fa-users"></i></a>
        </div>
        <div class="col-sm-3">
            <small><h3>Site Information</h3></small>
            <small>
                {% if site.copyright %} {{ site.copyright }} {% endif %}
                {% if site.createdby %}
                    <p>Website designed and built by:
                    <a href="http://www.alwayscheyenne.com">{{ site.createdby }}</a>
                    </p>
                {% endif %}
            </small>
        </div>
</footer>
<!-- End Footer -->
