<!-- Start Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll" href="/"><img src="{{ site.logo_url }}" alt="{{ site.title }}"></a>
        </div>

        <ul class="nav navbar-nav navbar-right" id="desktop-nav">
            <li><a class="scroll" href="/">Home</a></li>
            <li><a class="scroll" href="/#about">Vision &amp; Mission</a></li>
            <li><a class="scroll" href="/#survey">Ecosystem</a></li>
            <li><a class="scroll" href="/#events">Events</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a class="scroll" href="/#partners">Partners</a></li>
        </ul>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id="tablet-nav">
                <li><a class="scroll" href="/">Home</a></li>
                <li><a class="scroll" href="/#about">Vision &amp; Mission</a></li>
                <li><a class="scroll" href="/#survey">Ecosystem</a></li>
                <li><a class="scroll" href="/#events">Events</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a class="scroll" href="/#partners">Partners</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->
